<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/style.css">  
    <link rel="stylesheet" href="../assets/css/login.css">    
</head>
<body>
    <section class="container">
        <div class="container__if">            
            <div class="logo">
                <img src="../assets/img/logo_letra_oscura.png">
            </div>
            <form action="../views/menuPrincipal.html" class="container__form">
                <div class="title">
                    <h2>Iniciar Sesión</h2>
                </div>
                <div class="container__form-separador">
                    <hr>
                </div>
                <div class="container__form-in">
                    <input type="email" name="email" placeholder="Correo electrónico" id="email" required>
                </div>
                <div class="container__form-in">
                    <input type="password" name="password" placeholder="Contraseña" id="password" required>
                </div>
                <div class="login">
                    <button>Iniciar Sesión</button>
                    <p>No tienes cuenta, <a href="#">registrate</a></p>
                </div>
            </form>            
        </div>
    </section>
</body>
</html>