<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu | De Castilla</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="contenido">
        <h1>Menú Administrador</h1>
            <div class="opciones">
                <div class="btn_opciones">
                    <a href="">
                        <img src="../assets/icons/ventas.png" alt="">
                    </a>
                    <h2>Ventas</h2>
                </div>
                <div class="btn_opciones">
                    <a href="">
                        <img src="../assets/icons/Inventario.png" alt="">
                    </a>
                    <h2>Inventario</h2>
                </div>
                <div class="btn_opciones">
                    <a href="">
                        <img src="../assets/icons/Proveedores.png" alt="">
                    </a>
                    <h2>Proveedores</h2>
                </div>
                <div class="btn_opciones">
                    <a href="">
                        <img src="../assets/icons/Pedidos.png" alt="">
                    </a>
                    <h2>Pedidos</h2>
                </div>
                <div class="btn_opciones">
                    <a href="">
                        <img src="../assets/icons/Configuracion.png" alt="">
                    </a>
                    <h2>Configuración</h2>
                </div>

        </div>
    </div>
</body>
</html>