<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/login.css">
</head>
<body class="fondoTranslucido">
    <section class="container">           
            <div class="logo">
                <img src="../assets/img/logo_letra_oscura.png">
            </div>
            <form action="../views/menuPrincipal.html" class="register__form">
                <h2 class="title">Registrar usuario</h2>
                <div>
                    <input class="inputsmall" type="text" placeholder="Nombre 1" autofocus> 
                    <input class="inputsmall" type="text" placeholder="Nombre 2">
                </div>
                <div>
                    <input class="inputsmall" type="text" placeholder="Apellido 1">
                    <input class="inputsmall" type="text" placeholder="Apellido 2">
                </div>
                <div>
                    <input class="inputsmall" type="number" placeholder="Número de documento">
                    <input class="inputsmall" type="number" placeholder="Número de celular">
                </div>
                <input class="input-small" type="email" placeholder="Correo electrónico">
                <div>
                    <input class="inputsmall" type="password" placeholder="Contraseña">
                    <input class="inputsmall" type="password" placeholder="Confirmar contraseña">
                </div>
                <input class="inputregister" type="submit" value="Registrate">
                <p>Ya tienes cuenta, <a href="login.html">Iniciar Sesión</p>
            </form>
    </section>
</body>
</html>