<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/errores.css">
    <title>Error 404</title>
</head>
<body>
    <img src="../../assets/img/error404.png" alt="Error interno en el servidor" class="errorPagina">
    <img src="../../assets/img/footerErrors.png" alt="lineas de colores" class="errorFooter">
</body>
</html>