<link rel="stylesheet" href="../../assets/css/style.css">
<nav class="menuSuperior">
        <div>
            <img class="icon" src="../../assets/icons/ejemplo.png" alt="">
            <img class="icon" src="../../assets/icons/ejemplo.png" alt="">
        </div>
        <div class="menu-logo">
            <img src="../../assets/img/logoClaro.png" alt="">
            <h1>De Castilla</h1>
        </div>
        <div class="menu-user">
            <img class="icon" src="../../assets/icons/ejemplo.png" alt="">
            <p class="user-name">Mi nombre</p>
        </div>
</nav>