<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/login.css">
</head>

<body class="fondoTranslucido">
    <section class="container">
        <img class="logo" src="../../assets/img/logo_letra_oscura.png" alt="logo De Castilla">
        <form action="../../views/menuPrincipal.html" class="form">
            <h2 class="title">Iniciar Sesión</h2>
            <hr>
            <input class="inputtext" type="email" name="email" placeholder="CorreoElectrónico@micorreo.com" id="email" required autofocus autocomplete="none">
            <input class="inputtext" type="password" name="password" placeholder="Contraseña" id="password" required>
            <div class="form__options">
                <input class="button" type="submit" value="Iniciar sesión">
                <p>No tienes cuenta, <a href="./register.html">Registrate</a></p>
            </div>
        </form>
    </section>
</body>

</html>