<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/login.css">
</head>
<body class="fondoTranslucido">
    <section class="container">           
            <div class="logo">
                <img src="../../assets/img/logo_letra_oscura.png">
            </div>
            <form action="../../views/menuPrincipal.html" class="register__form">
                <h2 class="title">Registrar usuario</h2>
                <div>
                    <input type="text" placeholder="Nombre 1" autofocus required autocomplete="none"> 
                    <input type="text" placeholder="Nombre 2" autocomplete="none">
                </div>
                <div>
                    <input type="text" placeholder="Apellido 1" required autocomplete="none">
                    <input type="text" placeholder="Apellido 2" autocomplete="none">
                </div>
                <div>
                    <input type="number" placeholder="Número de documento" required autocomplete="none">
                    <input type="number" placeholder="Número de celular" required autocomplete="none">
                </div>
                <input class="inputbig" type="email" placeholder="Correo electrónico" required autocomplete="none">
                <div>
                    <input type="password" placeholder="Contraseña" required autocomplete="none">
                    <input type="password" placeholder="Confirmar contraseña" required autocomplete="none">
                </div>
                <input class="inputregister" type="submit" value="Registrate">
                <p>Ya tienes cuenta, <a href="login.html">Iniciar Sesión</p>
            </form>
    </section>
</body>
</html>