.menu {
    background-color: var(--oscuro);
    color: var(--blanco);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu img {
    margin-left: 24px;
    height: 84px;
}

.menu ul {
    list-style: none;
    display: flex;
    margin-right: 24px;
    margin-bottom: 0px;

}

.menu li {
    margin-left: 16px;
}

.menu a {
    text-decoration: none;
    color: var(--blanco);
    
}

.carousel img{
    height: 200px;
    width: 400px;

}