@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&family=Taviraj:wght@200&display=swap');
:root {
    --oscuro:#732F48;
    --blanco:#ffffff;
    --medio:#8C274C;
    --claro:#F26B9C;
    --fondo1:#F6E0E3;
    --fondo2:#FDEBEB;
    --fondo3:#FDF5E7;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Taviraj', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    font-family: 'Sofia', cursive;
    color: var(--oscuro);
}


