@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&family=Taviraj:wght@200&display=swap');
:root {
    --oscuro:#732F48;
    --blanco:#ffffff;
    --medio:#8C274C;
    --claro:#F26B9C;
    --fondo1:#F6E0E3;
    --fondo2:#FDEBEB;
    --fondo3:#FDF5E7;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Taviraj', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    font-family: 'Sofia', cursive;
    color: var(--oscuro);
    margin: 20px 4px;
}

footer{
    background-color: var(--oscuro);
    color: var(--blanco);
}

.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenido h1 {
    margin-top: 52px;
}
.opciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 80vh;
    align-items: center;
}


.btn_opciones {
    background-color: var(--fondo2);
    border-radius: 16px;
    padding: 16px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    justify-content: flex-end;
    width: 248px;
    height: 284px;
}

.btn_opciones:hover {
    background-color: var(--fondo1);
}
